doctype html
html
    head
        meta(charset="utf-8")
        title hello world
        link(rel="stylesheet" href="index.css")
    body
        h1 icon
        icon-wrap
            icon1.fa.fa-beer.one
            icon2.fa.fa-anchor.one
